body,
html {
  margin: 0;
  padding: 0;
  overflow: hidden;
  -webkit-touch-callout: none !important;
  -webkit-user-select: none !important;
  -khtml-user-select: none !important;
  -moz-user-select: none !important;
  -ms-user-select: none !important;
  user-select: none !important;
}

img {
  -webkit-user-drag: none !important;
  -khtml-user-drag: none !important;
  -moz-user-drag: none !important;
  -o-user-drag: none !important;
  user-drag: none !important;
}

#game-wrap {
  width: 100vw;
  height: 100vh;
  display: block;
  margin: 0;
}

.menu-wrap, .lvl-select-wrap {
  display: none;
  width: 100vw;
  height: 100vh;
  margin: 0;
  position: absolute;
  top: 0;
  left: 0;
  background-image: url("background.898e6790.png");
  background-position: 70% center;
  background-size: cover;
}
.menu-wrap .logo, .lvl-select-wrap .logo {
  height: 50vh;
  position: absolute;
  left: 50%;
  top: 10%;
  transform: translateX(-50%) translateY(-20%);
  z-index: 30;
}
.menu-wrap .players, .lvl-select-wrap .players {
  height: 40vh;
  position: absolute;
  top: 100vh;
  transform: translateY(calc(-100% - 2vw));
  z-index: 5;
}
.menu-wrap .pl0, .lvl-select-wrap .pl0 {
  left: 3vw;
}
.menu-wrap .pl1, .lvl-select-wrap .pl1 {
  right: 10vw;
  height: 35vh;
}
.menu-wrap .lamp, .lvl-select-wrap .lamp {
  position: absolute;
  top: 0;
  height: 100vh;
  z-index: 5;
}
.menu-wrap .lamp0, .lvl-select-wrap .lamp0 {
  left: 0;
}
.menu-wrap .lamp1, .lvl-select-wrap .lamp1 {
  right: 0;
}
.menu-wrap .floor, .lvl-select-wrap .floor {
  position: absolute;
  bottom: 0;
  width: 100vw;
  left: 0;
}
.menu-wrap .lvl-players, .lvl-select-wrap .lvl-players {
  position: absolute;
  width: 35vw;
  left: 52%;
  transform: translateX(-50%) translateY(-2vh);
  bottom: 0;
}
.menu-wrap .menu, .lvl-select-wrap .menu {
  position: absolute;
  z-index: 30;
  left: 50%;
  top: 55%;
  transform: translateX(-50%);
  width: 15vw;
  min-width: 8.5em;
  height: 15vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: 24px;
  word-spacing: 0.15em;
  letter-spacing: 0.05em;
  white-space: nowrap;
}
.menu-wrap .menu .bt, .lvl-select-wrap .menu .bt {
  background-color: black;
  color: white;
  height: 20%;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  line-height: 100%;
  cursor: pointer;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding-left: 1em;
  box-sizing: border-box;
}
.menu-wrap .menu .start, .lvl-select-wrap .menu .start {
  width: 100%;
}
.menu-wrap .menu .settings, .lvl-select-wrap .menu .settings {
  width: 66%;
}
.menu-wrap .menu .exit, .lvl-select-wrap .menu .exit {
  width: 33%;
}

.lvl-select-wrap .logo {
  z-index: 2 !important;
  transition: all 0.5s ease-out;
}
.lvl-select-wrap .foreground {
  position: absolute;
  z-index: 3;
  width: 100%;
  height: 100%;
  background-position: 70% center;
  background-size: cover;
  background-image: url("foreground.b2cdf02c.png");
}
.lvl-select-wrap .lvl-select-frame {
  position: absolute;
  top: 5vh;
  left: 2vw;
  z-index: 100;
  left: 1vw;
  width: 40vmin;
  cursor: pointer;
}
.lvl-select-wrap .lvl-select-frame img:not(.lvl-preview) {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 10;
}
.lvl-select-wrap .lvl-select-frame .lvl-preview {
  position: absolute;
  z-index: 5;
  width: 90%;
  transform: translateY(2%) translateX(5%);
}
.lvl-select-wrap .lvl-select-frame .lvl-title {
  position: absolute;
  left: 0;
  width: 40vmin;
  transform: translateY(140%);
}
.lvl-select-wrap .lvl1 {
  top: 65vh;
  transform: translateY(-100%);
}
.lvl-select-wrap .lvl2 {
  left: 98vw;
  transform: translateX(-100%);
}
.lvl-select-wrap .lvl3 {
  left: 98vw;
  top: 65vh;
  transform: translateX(-100%) translateY(-100%);
}

.win-screen {
  display: none;
  width: 100vw;
  height: 100vh;
  margin: 0;
  position: absolute;
  top: 0;
  left: 0;
  background-position: 50% center;
  background-size: cover;
  z-index: 100;
}