body,
html {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

#game-wrap {
  width: 100vw;
  height: 100vh;
  display: block;
  margin: 0;
}

.menu-wrap {
  display: none;
  width: 100vw;
  height: 100vh;
  margin: 0;
  position: absolute;
  top: 0;
  left: 0;
  background-image: url("../data/mainmenu/background.png");
  background-position: 70% center;
  background-size: cover;

  .logo {
    height: 50vh;
    position: absolute;
    left: 50%;
    top: 10%;
    transform: translateX(-50%) translateY(-20%);
  }

  .players {
    height: 40vh;
    position: absolute;
    top: 93vh;
    transform: translateY(-100%);
    z-index: 5;
  }

  .pl0 {
    left: 10vw;
  }

  .pl1 {
    right: 10vw;
    height: 35vh;
  }

  .floor {
    position: absolute;
    bottom: 0;
    width: 100vw;
    left: 0;
  }

  .menu {
    position: absolute;
    left: 50%;
    top: 55%;
    transform: translateX(-50%);
    width: 15vw;
    height: 15vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 24px;
    word-spacing: .15em;
    letter-spacing: .05em;

    .bt {
      background-color: black;
      color: white;
      height: 20%;
      font-family: 'Roboto', sans-serif;
      font-weight: bold;
      line-height: 100%;
      cursor: pointer;
      display: flex;
      justify-content: center;
      flex-direction: column;
      padding-left: 1em;
      box-sizing: border-box;
    }

    .start {
      width: 100%;
    }
    .settings {
      width: 66%;
    }
    .exit {
      width: 33%;
    }
  }
}
